@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        * {
            margin: 0;
            outline: none;
            text-decoration: none;
            box-sizing: border-box;
            transition: 0.5s ease;
        }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    background: url(https://cdn.jsdelivr.net/gh/cdncomputing/bungkus@main/ff/home-bg2.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #000;
}
video {
    width: 100%;
    height: auto;
    pointer-events: none;
    position: absolute;
    height: 14.5em;
}
header {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 14.5em;
    margin-bottom: 7.5em;
}
header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 7.5em;
    background-image: linear-gradient(0deg, #000000 0%, #00000000 100%);
}
.share {
    position: absolute;
    right: 1em;
    top: 1em;
    background: #000;
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    cursor: pointer;
    z-index: 3;
}
.share svg {
    fill: #fff;
}
.logo {
    position: absolute;
    bottom: -2.5em;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 1em;
    max-width: 90%;
}
.logo img {
    height: 5em;
    width: 5em;
    border-radius: 0.5em;
    border: 2px solid #fff;
}
.logo p {
    font-size: x-large;
    margin-left: 0.5em;
    color: #fff;
}
article {
    max-width: 450px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    --border-color: linear-gradient(-45deg, #ffffff, #ffba00, #ffffff);
    --border-width: 0.2em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #ffba00;
    --color: #afffff;
    color: #000000;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
    transition: color 250ms;
    width: 90%;
    max-width: 450px;
    padding: 1em;
    font-weight: 500;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
aside {
            width: 95%;
    max-width: 500px;
    position: fixed;
    z-index: 7;
    bottom: 1em;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    background: #fff;
    border: 1px solid #3b505a;
    border-radius: 0.5em;
    box-shadow: 6px 7px 0px #3b505a;
    padding: 1em;
    transition: none;
        }
        .box-share {
            position: relative;
    padding-top: 2.5em;
        }
        #close_aside {
            position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    height: 5vh;
    width: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: #d1d1d1;
    box-shadow: 2px 3px 0px #3b505a;
        }
        .box-share h3 {
            font-weight: 500;
    font-size: large;
    margin-bottom: 0.25em;
        }
        .box-share p {
            color: #000;
            font-size: 15px;
        }
        .salin {
            position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 1em;
    border-radius: 5em;
    overflow: hidden;
        }
        .salin input {
            width: 100%;
    border-radius: 5em;
    outline: none;
    font-size: medium;
    padding: 0.75em 1em;
    border: 1px solid #000;
    background: #f6f7f5;
    font-family: inherit;
    transition: all 0.3s ease-out;
        }
        .salin .copy {
            position: absolute;
    right: 1%;
    width: 7em;
    text-align: center;
    height: 88%;
    background: #00f;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    color: #fff;
    font-size: medium;
    cursor: pointer;
        }
        aside .copy svg {
            fill: #fff;
        }
        .sharesosmed {
            display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
        }
        .sharesosmed a {
            background: #fff;
    width: 5em;
    height: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 0.5em;
    border: 1px solid #3b505a;
    border-radius: 0.5em;
    box-shadow: 6px 7px 0px #3b505a;
    cursor: pointer;
        }
        .box-share h4 {
            text-align: center;
    margin-bottom: 0.5em;
        }
        #qrcode {
            display: flex;
    flex-direction: column;
    align-items: center;
        }
        #closeaside {
            width: 100%;
    border-radius: 5em;
    outline: none;
    font-size: medium;
    padding: 0.75em 1em;
    border: 1px solid #787878;
    background: #f1f1f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    margin-top: 2em;
    color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 6px 7px 0px #3b505a;
        }
        backdrop {
            position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #00000059;
    z-index: 6;
    transition: none;
        }
        footer {
            display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 90%;
    text-align: center;
    position: fixed;
    bottom: 1em;
    row-gap: 0.5em;
        }
        footer img {
            height: 2.1875rem;
        }
        footer p {
            font-size: smaller;
    color: #c5c5c599;
        }
        
        dialog {
            position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border: none;
        }
        .ads-box {
            width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 0px 0.25em 0px 0px;
        }
        .ads-close {
            position: absolute;
    left: 0;
    background: #fafafa;
    top: -1.5em;
    width: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0.5em 0px 0px;
    cursor: pointer;
        }
        .ads-close svg {
            fill: #616161;
        }
        .rotate svg {
            transform: rotate(180deg);
        }
        .ads-content {
            width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    row-gap: 0.1em;
        }
        .ads-content p {
            font-size: 12px;
    color: #262626;
        }
        .foot-top {
            bottom: 6em;
        }
